<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>
    {{ ping }} {{ timeout }} <span [hidden] = "timeout == null">secs</span>
  </h1>
  <h2><a routerLink="/contact" routerLinkActive="active">this link use the router to go to /contact page</a></h2>
  <h2><a href="/contact">this link goes directly to /contact page</a></h2>
  <h2>This is an easy live dev start up with Angular 6 & Loopback 4 (<a target="_blank" rel="noopener" href="https://github.com/mightytyphoon/lb4-ng-quickstart">github repo + README</a>)</h2>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <img style="filter:invert(100%) ; color:#009cff; padding : 20px" width="220" alt="Loopback Logo" src="http://v4.loopback.io/img/global/loopback-mark-frame-white.svg" />
</div>
<h2>Loopback : Here are some links to help with loopback 4 :</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://v4.loopback.io/">loopback 4 official page</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://localhost:3000/explorer">loopback open API explorer</a></h2>
  </li>
  <li>
      <h2><a target="_blank" rel="noopener" href="http://localhost:3000/ping">loopback ping</a></h2>
  </li>
</ul>
<h2>Angular : Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
